<%= render "layouts/appHeader" %>
<div id="main">
    <div class="chart" id="chart">
    	<div id="ag1" class="audiogallery" style="opacity:0; padding-top: 70px;">
<div class="items">

       <div class="audioplayer-tobe" style="" data-thumb="images/playeralbumart.png" data-scrubbg="https://lh3.googleusercontent.com/-MQk9Xpo8xkE/UoKCgDgk85I/AAAAAAAAAEI/9HxIsziJdjc/s1170/scrubbg_songmp3.png" data-scrubprog="https://lh5.googleusercontent.com/-cMwaCo2ueI8/UoKCfxMj6YI/AAAAAAAAAEE/MOyRvHjVa08/s1170/scrubprog_songmp3.png" data-type="audio" data-source="http://www.tonycuffe.com/mp3/tail%20toddle.mp3">
                        <div class="meta-artist"><span class="the-artist">Tony</span><br/><span class="the-name">Tail</span></div><div class="menu-description"><div class="menu-item-thumb-con"><div class="menu-item-thumb" style="background-image: url(https://lh5.googleusercontent.com/-RhXJ4O5JiEQ/UoKDBeGx5-I/AAAAAAAAAEU/Dkace1QwAKU/s80/smalllogo2.jpg)"></div></div><span class="the-artist">Tony</span><span class="the-name">Tail</span></div></div>
    
                    


<div class="audioplayer-tobe" style="width:100%; " data-thumb="images/playeralbumart.png" data-bgimage="player/img/bg.jpg" data-scrubbg="player/waves/scrubbg.png" data-scrubprog="player/waves/scrubprog.png" data-videoTitle="Audio Video" data-type="youtube" data-source="TGGPwisKPtM">
<div class="meta-artist"><span class="the-artist">"Abhi Mujh Main Kahin</span><br/><span class="the-name">Sonu Nigam</span></div>
<div class="menu-description">
<div class="menu-item-thumb-con"><div class="menu-item-thumb" style="background-image: url(images/albums/1.png)"></div></div>
<span class="the-artist">Sonu Nigam</span>
<span class="the-name">Abhi Mujh Main</span>
</div>
</div>


<div class="audioplayer-tobe" style="width:100%; " data-thumb="images/playeralbumart.png" data-bgimage="player/img/bg.jpg" data-scrubbg="player/waves/scrubbg.png" data-scrubprog="player/waves/scrubprog.png" data-videoTitle="Audio Video" data-type="normal" data-source="player/sounds/adg1.mp3">
<div class="meta-artist"><span class="the-artist">Micheal Jackson</span><br/><span class="the-name">I Like The Way</span></div>
<div class="menu-description">
<div class="menu-item-thumb-con"><div class="menu-item-thumb" style="background-image: url(images/albums/2.png)"></div></div>
<span class="the-artist">Micheal Jackson</span>
<span class="the-name">I Like The Way</span>
</div>
</div>
 
 <div class="audioplayer-tobe" style="width:100%; " data-thumb="images/playeralbumart.png" data-bgimage="player/img/bg.jpg" data-scrubbg="player/waves/scrubbg.png" data-scrubprog="player/waves/scrubprog.png" data-videoTitle="Audio Video" data-type="normal" data-source="player/sounds/adg3.mp3" data-sourceogg="player/sounds/adg3.ogg">
<div class="meta-artist"><span class="the-artist">Mick Jagger</span><br/><span class="the-name">Revenge</span></div>
<div class="menu-description">
<div class="menu-item-thumb-con"><div class="menu-item-thumb" style="background-image: url(images/albums/3.png)"></div></div>
<span class="the-artist">Mick Jagger</span>
<span class="the-name">Revenge</span>
</div>
</div>
                   
<div class="audioplayer-tobe" style="width:100%; " data-thumb="images/playeralbumart.png" data-bgimage="player/img/bg.jpg" data-scrubbg="player/waves/scrubbg.png" data-scrubprog="player/waves/scrubprog.png" data-videoTitle="Audio Video" data-type="normal" data-source="player/sounds/adg1.mp3">
<div class="meta-artist"><span class="the-artist">Micheal Jackson</span><br/><span class="the-name">I Like The Way</span></div>
<div class="menu-description">
<div class="menu-item-thumb-con"><div class="menu-item-thumb" style="background-image: url(images/albums/4.png)"></div></div>
<span class="the-artist">Micheal Jackson</span>
<span class="the-name">I Like The Way</span>
</div>
</div>

 <div class="audioplayer-tobe" style="width:100%; " data-thumb="images/playeralbumart.png" data-bgimage="player/img/bg.jpg" data-scrubbg="player/waves/scrubbg.png" data-scrubprog="player/waves/scrubprog.png" data-videoTitle="Audio Video" data-type="normal" data-source="player/sounds/Im-Alive.mp3" data-sourceogg="player/sounds/Im-Alive.ogg">
<div class="meta-artist"><span class="the-artist">Aqua</span><br/><span class="the-name">Im-Alive</span></div>
<div class="menu-description">
<div class="menu-item-thumb-con"><div class="menu-item-thumb" style="background-image: url(images/albums/5.png)"></div></div>
<span class="the-artist">Aqua</span>
<span class="the-name">Im-Alive</span>
</div>
</div>

<!--2nd row-->
  <div class="audioplayer-tobe" style="width:100%; " data-thumb="images/playeralbumart.png" data-bgimage="player/img/bg.jpg" data-scrubbg="player/waves/scrubbg.png" data-scrubprog="player/waves/scrubprog.png" data-videoTitle="Audio Video" data-type="normal" data-source="player/sounds/adg3.mp3" data-sourceogg="player/sounds/adg3.ogg">
<div class="meta-artist"><span class="the-artist">Mick Jagger</span><br/><span class="the-name">Revenge</span></div>
<div class="menu-description">
<div class="menu-item-thumb-con"><div class="menu-item-thumb" style="background-image: url(images/albums/1.png)"></div></div>
<span class="the-artist">Mick Jagger</span>
<span class="the-name">Revenge</span>
</div>
</div>

<div class="audioplayer-tobe" style="width:100%; " data-thumb="images/playeralbumart.png" data-bgimage="player/img/bg.jpg" data-scrubbg="player/waves/scrubbg.png" data-scrubprog="player/waves/scrubprog.png" data-videoTitle="Audio Video" data-type="normal" data-source="player/sounds/adg1.mp3">
<div class="meta-artist"><span class="the-artist">Micheal Jackson</span><br/><span class="the-name">I Like The Way</span></div>
<div class="menu-description">
<div class="menu-item-thumb-con"><div class="menu-item-thumb" style="background-image: url(images/albums/2.png)"></div></div>
<span class="the-artist">Micheal Jackson</span>
<span class="the-name">I Like The Way</span>
</div>
</div>
 
 <div class="audioplayer-tobe" style="width:100%; " data-thumb="images/playeralbumart.png" data-bgimage="player/img/bg.jpg" data-scrubbg="player/waves/scrubbg.png" data-scrubprog="player/waves/scrubprog.png" data-videoTitle="Audio Video" data-type="normal" data-source="player/sounds/Im-Alive.mp3" data-sourceogg="player/sounds/Im-Alive.ogg">
<div class="meta-artist"><span class="the-artist">Aqua</span><br/><span class="the-name">Im-Alive</span></div>
<div class="menu-description">
<div class="menu-item-thumb-con"><div class="menu-item-thumb" style="background-image: url(images/albums/3.png)"></div></div>
<span class="the-artist">Aqua</span>
<span class="the-name">Im-Alive</span>
</div>
</div>
                   
<div class="audioplayer-tobe" style="width:100%; " data-thumb="images/playeralbumart.png" data-bgimage="player/img/bg.jpg" data-scrubbg="player/waves/scrubbg.png" data-scrubprog="player/waves/scrubprog.png" data-videoTitle="Audio Video" data-type="normal" data-source="player/sounds/adg1.mp3">
<div class="meta-artist"><span class="the-artist">Micheal Jackson</span><br/><span class="the-name">I Like The Way</span></div>
<div class="menu-description">
<div class="menu-item-thumb-con"><div class="menu-item-thumb" style="background-image: url(images/albums/4.png)"></div></div>
<span class="the-artist">Micheal Jackson</span>
<span class="the-name">I Like The Way</span>
</div>
</div>

 <div class="audioplayer-tobe" style="width:100%; " data-thumb="images/playeralbumart.png" data-bgimage="player/img/bg.jpg" data-scrubbg="player/waves/scrubbg.png" data-scrubprog="player/waves/scrubprog.png" data-videoTitle="Audio Video" data-type="normal" data-source="player/sounds/adg3.mp3" data-sourceogg="player/sounds/adg3.ogg">
<div class="meta-artist"><span class="the-artist">Mick Jagger</span><br/><span class="the-name">Revenge</span></div>
<div class="menu-description">
<div class="menu-item-thumb-con"><div class="menu-item-thumb" style="background-image: url(images/albums/5.png)"></div></div>
<span class="the-artist">Mick Jagger</span>
<span class="the-name">Revenge</span>
</div>
</div>


<!--3rd row-->
  <div class="audioplayer-tobe" style="width:100%; " data-thumb="images/playeralbumart.png" data-bgimage="player/img/bg.jpg" data-scrubbg="player/waves/scrubbg.png" data-scrubprog="player/waves/scrubprog.png" data-videoTitle="Audio Video" data-type="normal" data-source="player/sounds/adg3.mp3" data-sourceogg="player/sounds/adg3.ogg">
<div class="meta-artist"><span class="the-artist">Mick Jagger</span><br/><span class="the-name">Revenge</span></div>
<div class="menu-description">
<div class="menu-item-thumb-con"><div class="menu-item-thumb" style="background-image: url(images/albums/1.png)"></div></div>
<span class="the-artist">Mick Jagger</span>
<span class="the-name">Revenge</span>
</div>
</div>

<div class="audioplayer-tobe" style="width:100%; " data-thumb="images/playeralbumart.png" data-bgimage="player/img/bg.jpg" data-scrubbg="player/waves/scrubbg.png" data-scrubprog="player/waves/scrubprog.png" data-videoTitle="Audio Video" data-type="normal" data-source="player/sounds/adg1.mp3">
<div class="meta-artist"><span class="the-artist">Micheal Jackson</span><br/><span class="the-name">I Like The Way</span></div>
<div class="menu-description">
<div class="menu-item-thumb-con"><div class="menu-item-thumb" style="background-image: url(images/albums/2.png)"></div></div>
<span class="the-artist">Micheal Jackson</span>
<span class="the-name">I Like The Way</span>
</div>
</div>
 
 <div class="audioplayer-tobe" style="width:100%; " data-thumb="images/playeralbumart.png" data-bgimage="player/img/bg.jpg" data-scrubbg="player/waves/scrubbg.png" data-scrubprog="player/waves/scrubprog.png" data-videoTitle="Audio Video" data-type="normal" data-source="player/sounds/adg3.mp3" data-sourceogg="player/sounds/adg3.ogg">
<div class="meta-artist"><span class="the-artist">Mick Jagger</span><br/><span class="the-name">Revenge</span></div>
<div class="menu-description">
<div class="menu-item-thumb-con"><div class="menu-item-thumb" style="background-image: url(images/albums/3.png)"></div></div>
<span class="the-artist">Mick Jagger</span>
<span class="the-name">Revenge</span>
</div>
</div>
                   
<div class="audioplayer-tobe" style="width:100%; " data-thumb="images/playeralbumart.png" data-bgimage="player/img/bg.jpg" data-scrubbg="player/waves/scrubbg.png" data-scrubprog="player/waves/scrubprog.png" data-videoTitle="Audio Video" data-type="normal" data-source="player/sounds/adg1.mp3">
<div class="meta-artist"><span class="the-artist">Micheal Jackson</span><br/><span class="the-name">I Like The Way</span></div>
<div class="menu-description">
<div class="menu-item-thumb-con"><div class="menu-item-thumb" style="background-image: url(images/albums/4.png)"></div></div>
<span class="the-artist">Micheal Jackson</span>
<span class="the-name">I Like The Way</span>
</div>
</div>

 <div class="audioplayer-tobe" style="width:100%; " data-thumb="images/playeralbumart.png" data-bgimage="player/img/bg.jpg" data-scrubbg="player/waves/scrubbg.png" data-scrubprog="player/waves/scrubprog.png" data-videoTitle="Audio Video" data-type="normal" data-source="player/sounds/adg3.mp3" data-sourceogg="player/sounds/adg3.ogg">
<div class="meta-artist"><span class="the-artist">Mick Jagger</span><br/><span class="the-name">Revenge</span></div>
<div class="menu-description">
<div class="menu-item-thumb-con"><div class="menu-item-thumb" style="background-image: url(images/albums/5.png)"></div></div>
<span class="the-artist">Mick Jagger</span>
<span class="the-name">Revenge</span>
</div>
</div>

<!--4th row-->
  <div class="audioplayer-tobe" style="width:100%; " data-thumb="images/playeralbumart.png" data-bgimage="player/img/bg.jpg" data-scrubbg="player/waves/scrubbg.png" data-scrubprog="player/waves/scrubprog.png" data-videoTitle="Audio Video" data-type="normal" data-source="player/sounds/adg3.mp3" data-sourceogg="player/sounds/adg3.ogg">
<div class="meta-artist"><span class="the-artist">Mick Jagger</span><br/><span class="the-name">Revenge</span></div>
<div class="menu-description">
<div class="menu-item-thumb-con"><div class="menu-item-thumb" style="background-image: url(images/albums/1.png)"></div></div>
<span class="the-artist">Mick Jagger</span>
<span class="the-name">Revenge</span>
</div>
</div>

<div class="audioplayer-tobe" style="width:100%; " data-thumb="images/playeralbumart.png" data-bgimage="player/img/bg.jpg" data-scrubbg="player/waves/scrubbg.png" data-scrubprog="player/waves/scrubprog.png" data-videoTitle="Audio Video" data-type="normal" data-source="player/sounds/adg1.mp3">
<div class="meta-artist"><span class="the-artist">Micheal Jackson</span><br/><span class="the-name">I Like The Way</span></div>
<div class="menu-description">
<div class="menu-item-thumb-con"><div class="menu-item-thumb" style="background-image: url(images/albums/2.png)"></div></div>
<span class="the-artist">Micheal Jackson</span>
<span class="the-name">I Like The Way</span>
</div>
</div>
 
 <div class="audioplayer-tobe" style="width:100%; " data-thumb="images/playeralbumart.png" data-bgimage="player/img/bg.jpg" data-scrubbg="player/waves/scrubbg.png" data-scrubprog="player/waves/scrubprog.png" data-videoTitle="Audio Video" data-type="normal" data-source="player/sounds/adg3.mp3" data-sourceogg="player/sounds/adg3.ogg">
<div class="meta-artist"><span class="the-artist">Mick Jagger</span><br/><span class="the-name">Revenge</span></div>
<div class="menu-description">
<div class="menu-item-thumb-con"><div class="menu-item-thumb" style="background-image: url(images/albums/3.png)"></div></div>
<span class="the-artist">Mick Jagger</span>
<span class="the-name">Revenge</span>
</div>
</div>
                   
<div class="audioplayer-tobe" style="width:100%; " data-thumb="images/playeralbumart.png" data-bgimage="player/img/bg.jpg" data-scrubbg="player/waves/scrubbg.png" data-scrubprog="player/waves/scrubprog.png" data-videoTitle="Audio Video" data-type="normal" data-source="player/sounds/adg1.mp3">
<div class="meta-artist"><span class="the-artist">Micheal Jackson</span><br/><span class="the-name">I Like The Way</span></div>
<div class="menu-description">
<div class="menu-item-thumb-con"><div class="menu-item-thumb" style="background-image: url(images/albums/4.png)"></div></div>
<span class="the-artist">Micheal Jackson</span>
<span class="the-name">I Like The Way</span>
</div>
</div>

 



</div><!--items ends-->
</div><!--ag1 ends-->

  </div>
</div>

<%= render "layouts/appFooter" %>