<%= render "layouts/header" %>
                    <div id="step1">
                        <p>We are a points-based music promotion and discovery collective where you can
 build credibility while promoting music you think deserves to be heard. </p>
     					<div class="btns">
                        	<a class="learn_more" href="#learnMore"><span>Learn More &nbsp;&nbsp;<i class="fa fa-caret-down"></i></span></a>
                            <a class="get_acc" href="/users/login" id="registerBtn">Get Early Access</a>
                         
<%= render "layouts/footer" %>