/*====================================== reset.css is here ========================================*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0;}
table {	border-collapse:collapse; border-spacing:0;}
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal;}
ol,ul { list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {	font-size:100%;	font-weight:bold;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
.clear{clear:both; font-size:1px;line-height:1px; display:block; height:0;}
.clrflt{clear:both;}
.last	{margin:0 !important;}
.pad_last{padding:0 !important;}
.no_bg {background:none !important;}
/**************************************************************************************/
a											{color:#000; text-decoration:none; outline:0 none;}
a:hover										{color:#000;  text-decoration:none;}
h1											{font-size:24px;}
h2											{font-size:22px;}
h3											{font-size:18px;}
h4											{font-size:16px;}
h5											{font-size:14px;}
h6											{font-size:12px;}
/*----------------------------------------------------------------------------------*/
html 										{}
body										{color:#b1b1b1; font-family:"Arial", Verdana, Tahoma; font-size:12px;}
.flt_lt										{float:left; display:inline;}
.flt_rt										{float:right; display:inline;}
/* ---------------------------------------------------------------------------------*/
@font-face {
    font-family: 'FuturaMedium';
    src: url('futura-medium.eot');
    src: url('futura-medium.eot') format('embedded-opentype'),
         url('futura-medium.woff') format('woff'),
         url('futura-medium.ttf') format('truetype'),
         url('futura-medium.svg#FuturaMedium') format('svg');
}

/* ----------------------- layout ----------*/
.wrapper									{margin:0 auto; min-width:1310px;}
.container									{width:1310px; margin:0 auto;}
.main_content								{}

/*-------------------------------------------*/

/* ------------------ HEADER HERE -------------------*/
.header										{ width:100%; margin:0 auto;  background:url('/assets/laptop-bg.png') no-repeat top center; background-size:100% 100%; position:relative;}
.headerin									{ width:1310px; margin:0 auto;}
.icons										{ margin:0 0 0 0;  padding:45px 0 0 0; float:left;}
.icons ul									{ display:block; float:left;}
.icons ul li								{ display:block;  float:left;}
.icons ul li a.fbook						{ display:block; background:url('/assets/facebook.png') no-repeat left top; width:14px;  margin:-1px 20px 0 0; height:31px;}
.icons ul li a.fbook:hover					{ background:url('/assets/facebook-hover.png') no-repeat left top;}
.icons ul li a.twitter						{ display:block; background:url('/assets/twitter.png') no-repeat left top; width:31px; margin:2px 16px 0 0; height:26px;}
.icons ul li a.twitter:hover				{ background:url('/assets/twitter-hover.png') no-repeat left top;}
.icons ul li a.email						{ display:block; background:url('/assets/email.png') no-repeat left top; width:36px; height:29px;}
.icons ul li a.email:hover					{ background:url('/assets/email-hover.png') no-repeat left top;}
.login										{ font-family: 'Montserrat', sans-serif; color:#ffffff; font-size:20px; background:#76a7e1; padding:10px 26px 12px 25px; float:right;
												margin:38px 0 0 0; display:block; border-radius:3px; font-weight:700;}
.login:hover								{ background:#689bd7; color:#FFF;}												
												
.logo										{ height:175px; padding:47px 0 106px 0; width:319px; margin:0 auto;}
.logo img									{ display:block; margin:0 auto;}


.angle_list									{}
.angle_list a 								{ height:136px; width:352px; position:absolute; top:180px; right:0;}
.angle_hover								{ position:absolute; right:0; top:0px; display:none;}
.angle_hover a								{ color:#FFF; font-size:18px; font-family: 'Open Sans', sans-serif; font-weight:700; padding:55px 0 0 0; background:url(../images/angle-hover.png) no-repeat right top;}
.headerin p									{ color:#ffffff; font-size:32px; font-family: 'Open Sans', sans-serif; font-weight:600; text-align:center; padding:0 0 75px 0;}
.btns										{ width:623px; margin:0 auto; padding:0 0 204px 0;}
.learn_more									{ padding:17px 0 22px 0; border:solid 3px #dadde7; border-radius:4px; width:287px; float:left; background-color:transparent;}
.learn_more span							{ color:#FFF; font-size:28px; font-family: 'Montserrat', sans-serif; font-weight:400; background:url(../images/learn-more-bg.png) no-repeat 225px 14px; display:block;}
.learn_more:hover							{ border:solid 3px #ffffff;}

.get_acc									{ width:298px; background:#689bd7; color:#FFF; font-size:28px; font-family: 'Montserrat', sans-serif; font-weight:400;
												text-align:center; padding:20px 0 25px 0; float:right; display:block; border-radius:5px;}
.get_acc:hover								{ color:#FFF; background:#76a7e1; }
/* ---------------------------------------------------------*/
.emailFormToggle:hover { cursor: pointer; cursor: hand; }

/* ------------------------- NAVIGATION HERE ---------------*/
#nav										{}
#nav ul										{}
#nav ul li									{}
#nav ul li a								{}
#nav ul li a span							{}
#nav ul li a:hover							{}

/* ---------------------------------------------------------*/

/* ------------------------ MIAN CONTENT HERE --------------*/
.main_cont									{ width:100%; background:#353842; margin:0 auto;}
.main_cont_in								{ width:1310px; margin:0 auto;}
.column_blocks								{ width:1278px; margin:0 auto}
.column_blocks ul							{ display:inline-block; margin:94px 0 36px 0;}
.column_blocks ul li						{ display:block; float:left; width:367px; margin:0 86px 0 0;}
.column_blocks ul li img					{ display:block; margin:0 auto; padding:0 0 25px 0;}
.column_blocks ul li span					{ display:block; text-align:center; font-family: 'FuturaMedium'; color:#FFF; font-size:30px; padding:0 0 35px 0;}
.column_blocks ul li p						{ display:block; text-align:center; color:#FFF; font-size:30px; font-family: 'Open Sans', sans-serif; font-weight:400; padding:0 0 0 0;}
.column_blocks ul li.colla					{ margin:0 47px 0 0;}
.mac										{ margin:0 auto; width:880px; padding:0 0 11px 0;}
.mac img									{ display:block; margin:0 auto;}
.content                                    { display: block;text-align: center;color: #FFF;font-size: 30px;font-family: 'Open Sans', sans-serif;font-weight: 400;padding: 0 0 0 0;}
.inputBox                                   { height: 40px; width: 350px; font-size: 25px; padding-left:15px;}
/* ---------------------------------------------------------*/


/* ------------------ FOOTER HERE --------------------------*/
.footer										{}
.copy										{}
/* ---------------------------------------------------------*/


