 <div class="clear"></div>
                    </div>
        		</div>
             </div>

            <!-- Header ends -->

            <!-- maincontent Starts -->
           	<div class="main_cont">
                	<div class="main_cont_in">
                    	<div class="column_blocks">
                        	<ul>
                            	<li>
                                	<a name="learnMore"><%= image_tag "icon1.png", alt: "Discover" %>
                                    <span>Discover</span>
                                    <p> You get a chance to
promote music  you think
deserves to be heard.</p>
                                </li>
                                <li class="colla">
                                	<%= image_tag "icon2.png", alt: "Collaborate" %>
                                    <span>Collaborate</span>
                                    <p>Interact in a fun,
collaborative manner with
other users and artists.</p>
                                </li>
                                <li class="last">
                                	<%= image_tag "icon3.png", alt: "Promote" %>
                                    <span>Promote</span>
                                    <p>Share music that is
essential to you and
deserves attention.</p>
                                </li>
                            </ul><div class="clear"></div>
                        </div>

                        <div class="mac"><a href="#"><%= image_tag "mac-img.png", alt: "mac" %></a></div>
                    </div>
                </div>
            <!-- maincontent ends -->

            <!-- footer starts -->
            <div class="footer">
            </div>
            <!-- footer ends -->



</div>
<!-- wrapper ends -->

</body>
</html>